<%= form_with(model: @publication, local: true) do |form| %>
  <div class="container mt-5">
    <% if @publication.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this @publication from being saved:</h2>
        <ul>
          <% @publication.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-center">
      <h1 class="">Editar Publicacion</h1>

      <div class="mb-3">
        <h1><%= form.label :title, style: "display: block" %></h1>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <h1><%= form.label :content, style: "display: block" %></h1>
        <%= form.text_area :content, class: "form-control" %>
      </div>
<!--
      <div class="mb-3">
        <%= form.label :image, style: "display: block" %>
        <%= form.file_field :image, class: "form-control" %>
      </div>
-->
      <div class="text-center">
        <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>