<!-- Ventana flotante -->
<% if current_user.admin? %>
  <%= button_to "New Publication", new_publication_path, method: :get %>
<% else %>
  <%= render 'postulations/registro' %>
<% end %>

<h1 class="text-center">Ofertas</h1>

<div class="center tablero">
  <% @publications.each do |publication| %>
  <div>
    <h2 class="text-center"> <%= publication.title %> </h2>
    <p class="text-center"> <%= publication.content %> </p>
    <% if current_user.admin? %>
      <%= button_to "Editar", edit_publication_path(publication), class:"text-center", method: :get %>
    <% else %>
      <%= button_to "Ver", publication_path(publication), class:"text-center", method: :get %>
    <% end %>
  </div>
  <% end %>
</div>
