<%= form_with(model: @postulation, local: true) do |form| %>
  <div class="container mt-5">
    <% if @postulation.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@postulation.errors.count, "error") %> prohibited this postulation from being saved:</h2>
        <ul>
          <% @postulation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card p-4 shadow">
      <div class="mb-3">
        <%= form.text_field :user_id, class: "form-control", value: current_user.id %>
      </div>

      <div class="mb-3">
        <%= form.label :content, style: "display: block" %>
        <%= form.text_field :content, class: "form-control" %>
      </div>

      <div class="text-center">
        <%= form.submit "Post", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>